@media only screen and (min-width:300px) and (max-width: 800px){
    .website-image {
    width: 320px;
    margin-left: 35px;
    }
    .link-button{
        width: 20px;
        margin-left: 40px;
        margin-right: 20px;
    }
    .website-description{
        margin-left: 34px;
        margin-right: 34px;
    }
}